body{
    background-color: #212121;
    /* background-image: linear-gradient(to right,red,yellow); */
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.navigationBar{
    /* align-items: center; */
    text-align: center;
    background-color: #c8c8c8;
    font-size: 25px;
    padding: 16px;
}
nav a{
    text-decoration: none;
    border: 2px solid #212121;
    padding: 3px 30px 3px  30px;
    margin: 10px;
    border-radius: 10px;
}
div{
    padding-top: 25%;
}
button{

    font-size: 30px;
    border-radius: 20px;
    padding: 10px 40px;
    margin: 20px;
}