.navigationBar{
    /* align-items: center; */
    text-align: center;
    background-color: #c8c8c8;
    font-size: 25px;
    padding: 16px;
}
nav a{
    text-decoration: none;
    border: 2px solid #212121;
    padding: 3px 30px 3px  30px;
    margin: 10px;
    border-radius: 10px;
}
.mainDiv{
    text-align: center;
}
.mainDiv h2{
    padding: 25px;
}
span{
    padding: 25px 35px;
    border: 2px solid;
    /* border-color: aqua; */
    border-radius: 10px;
    margin-left: 15px;
}
#Grey{
    background-color: grey;
}
#Orange{
    background-color: orange;
}
#Black{
    background-color: black;
}
#Yellow{
    background-color: yellow;
}
#Blue{
    background-color: blue;
}
#Red{
    background-color: red;
}