.navigationBar{
    /* align-items: center; */
    text-align: center;
    background-color: #c8c8c8;
    font-size: 25px;
    padding: 16px;
}
nav a{
    text-decoration: none;
    border: 2px solid #212121;
    padding: 3px 30px 3px  30px;
    margin: 10px;
    border-radius: 10px;
}
div{
    margin-top: 100px;
    margin-left: 200px;
    height: 120px;
    width: 400px;
    background-color: aqua;
    font-size: 100px;
    text-align: center;
}